@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Your Movie Application</h1>
    <a asp-controller="Movies" asp-action="Index">See, add or edit your movies!</a>
</div>
